<span [ngSwitch]="alerta">
<p *ngSwitchCase="'success'">
  Success
</p>  
<p *ngSwitchCase="'info'">
  Info
</p>
<p *ngSwitchCase="'warning'">
  Warning
</p>
<p *ngSwitchDefault>
  Danger
</p>
</span>

<button type="button" (click)="alerta='success'" class="btn btn-primary">Cambiar</button>

<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>

</div>